<!--Llamamos las variables de la ciudad a partir del input dado en la consulta-->
<div classs="Dias">
    <div class="Uno">
        <h3>Mañana</h3>
        <p>Temperatura: {{misDias.list[0].main.temp}}</p>
        <p>Clima: {{misDias.list[0].weather.description}}</p>
    </div>
            
    <div class="Dos">
        <h3>Pasado-Mañana</h3>
        <p>Temperatura: {{misDias.list[1].main.temp}}</p>
        <p>Clima: {{misDias.list[1].weather.description}}</p>
    </div>
            
    <div class="Tres">
        <h3>Día Siguiente Tres</h3>
        <p>Temperatura: {{misDias.list[2].main.temp}}</p>
        <p>Clima: {{misDias.list[2].weather.description}}</p>
    </div>
            
    <div class="Cuatro">
        <h3>Día Siguiente Cuatro</h3>
        <p>Temperatura: {{misDias.list[3].main.temp}}</p>
        <p>Clima: {{misDias.list[3].weather.description}}</p>
    </div>
            
    <div class="Cinco">
        <h3>Día Siguiente Cinco</h3>
        <p>Temperatura: {{misDias.list[4].main.temp}}</p>
        <p>Clima: {{misDias.list[4].weather.description}}</p>
    </div>
</div>

