<!--Llamamos las variables de la ciudad a partir del input dado en la consulta-->
<div class="Actual">
    <h1>Ciudad: {{miCiudad.name}}</h1>
    <p>Clima: {{miCiudad.weather[0].main}}</p>
    <p>Descripcion: {{miCiudad.weather[0].description}}</p>
    <p>Temperatura: {{miCiudad.main.temp}}</p>
    <p>Temperatura minima: {{miCiudad.main.temp_min}}</p>
    <p>Temperatura máxima: {{miCiudad.main.temp_max}}</p>
    <p>Presion: {{miCiudad.main.pressure}}</p>
    <p>Humedad: {{miCiudad.main.humidity}}</p>
</div>